#login {
  height: 300px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.26);
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -160px;
  box-shadow: rgba(17, 16, 16, 0.41) 0px 0px 10px inset, rgba(48, 45, 45, 0.3) 0px 0px 15px;
  position: absolute;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(170, 170, 170);
  border-image: initial;
}
#loginMsg {
  text-align: center;
  margin-left: 1px;
  margin-top: 10px;
  font-size: 60px;
  font-weight: bold;
  color: rgb(80, 175, 235);
}
#username {
  font-weight: bolder;
  margin-left: 15px;
  height: 30px;
  width: 300px;
  padding-left: 10px;
  border-radius: 5px;
}
#password {
  font-weight: bolder;
  margin-left: 15px;
  height: 30px;
  width: 300px;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
}
#tool {
  display: flex;
  justify-content: space-between;
  color: rgb(24, 25, 28);
  margin-left: 150px;
}
#butt {
  margin-top: 30px;
  text-align: center;
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  /*改成自己的图片*/
  background: url(../assets/img/bg.jpg) no-repeat 0px 0px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
}
#ManageButton{
  position: relative;
  top: 30px;
  right: 10px;
}
