<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.dao.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.student.dao.entity.Tag">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="basic" column="basic" jdbcType="VARCHAR"/>
            <result property="middle" column="middle" jdbcType="VARCHAR"/>
            <result property="advanced" column="advanced" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category,basic,
        middle,advanced
    </sql>
</mapper>
